<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.backoffice.mapper.DeptMapper">

    <resultMap id="departmentResultMap" type="com.zhonghe.backoffice.model.Department">
        <id property="HCid" column="HCid" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="areaId" column="area_id" />
        <result property="type" column="type" />
        <result property="parentId" column="parent_id" />
        <result property="parentIds" column="parent_ids" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <!-- 插入部门 -->
    <insert id="insertDepartment" parameterType="com.zhonghe.backoffice.model.Department">
        INSERT INTO department (
            HCid, code, name, area_id, type,
            parent_id, parent_ids, create_date, update_date
        ) VALUES (
                     #{HCid}, #{code}, #{name}, #{areaId}, #{type},
                     #{parentId}, #{parentIds}, #{createDate}, #{updateDate}
                 )
    </insert>

    <!-- 根据ID查询部门 -->
    <select id="selectDepartmentById" parameterType="long" resultMap="departmentResultMap">
        SELECT * FROM department WHERE HCid = #{HCid}
    </select>

    <!-- 更新部门 -->
    <update id="updateDepartment" parameterType="com.zhonghe.backoffice.model.Department">
        UPDATE department SET
                              code = #{code},
                              name = #{name},
                              area_id = #{areaId},
                              type = #{type},
                              parent_id = #{parentId},
                              parent_ids = #{parentIds},
                              update_date = #{updateDate}
        WHERE HCid = #{HCid}
    </update>

    <!-- 删除部门 -->
    <delete id="deleteDepartment" parameterType="long">
        DELETE FROM department WHERE HCid = #{HCid}
    </delete>

    <!-- 查询所有部门 -->
    <select id="selectAllDepartments" resultMap="departmentResultMap">
        SELECT * FROM department
    </select>

    <!-- 根据条件查询部门 -->
    <select id="selectDepartmentsByCondition" parameterType="map" resultMap="departmentResultMap">
        SELECT * FROM department
        <where>
            <if test="code != null and code != ''">
                AND code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="areaId != null">
                AND area_id = #{areaId}
            </if>
        </where>
        ORDER BY HCid
    </select>

    <!-- 根据父部门ID查询子部门 -->
    <select id="selectDepartmentsByParentId" parameterType="long" resultMap="departmentResultMap">
        SELECT * FROM department WHERE parent_id = #{parentId}
    </select>

    <!-- 统计部门数量 -->
    <select id="countDepartments" resultType="int">
        SELECT COUNT(*) FROM department
    </select>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO department (
        HCid, code, name, area_id, type,
        parent_id, parent_ids, create_date, update_date
        ) VALUES
        <foreach collection="list" item="dept" separator=",">
            (
            #{dept.HCid}, #{dept.code}, #{dept.name}, #{dept.areaId}, #{dept.type},
            #{dept.parentId}, #{dept.parentIds}, #{dept.createDate}, #{dept.updateDate}
            )
        </foreach>
    </insert>
</mapper>