<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.PurRetLineMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO at_pur_ret_line (
        FID, FEntryID, FMaterialID, FMaterialNumber, FMaterialName,
        FMaterialTypeNumber, FMaterialTypeName, FUnit, FQty, FBatch,
        FStockID, FStockNumber, FStockName, FRate, FTaxPrice,
        FAllAmount, FNote
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.FID,jdbcType=VARCHAR},
            #{item.FEntryID,jdbcType=VARCHAR},
            #{item.FMaterialID,jdbcType=VARCHAR},
            #{item.FMaterialNumber,jdbcType=VARCHAR},
            #{item.FMaterialName,jdbcType=VARCHAR},
            #{item.FMaterialTypeNumber,jdbcType=VARCHAR},
            #{item.FMaterialTypeName,jdbcType=VARCHAR},
            #{item.FUnit,jdbcType=VARCHAR},
            #{item.FQty,jdbcType=VARCHAR},
            #{item.FBatch,jdbcType=VARCHAR},
            #{item.FStockID,jdbcType=VARCHAR},
            #{item.FStockNumber,jdbcType=VARCHAR},
            #{item.FStockName,jdbcType=VARCHAR},
            #{item.FRate,jdbcType=DOUBLE},
            #{item.FTaxPrice,jdbcType=DOUBLE},
            #{item.FAllAmount,jdbcType=DOUBLE},
            #{item.FNote,jdbcType=VARCHAR}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        FEntryID = VALUES(FEntryID)
    </insert>

</mapper>