<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.PurRetMapper">

    <!-- 主表插入 -->
    <insert id="insert" parameterType="com.zhonghe.adapter.model.PurRet" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO at_pur_ret (
        FID, FBillType, FFactoryType, FDepID, FDepNumber, FDepName, FDate,
        FSupplierID, FSupplierNumber, FSupplierName, FReason, FRemark,
        FCreateBy, FCreateDate, FUpdateBy, FUpdateDate, sync_flag, sync_time
    ) VALUES (
        #{FID}, #{FBillType}, #{FFactoryType}, #{FDepID}, #{FDepNumber}, #{FDepName}, #{FDate},
        #{FSupplierID}, #{FSupplierNumber}, #{FSupplierName}, #{FReason}, #{FRemark},
        #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate}, #{sync_flag}, #{sync_time}
        )
    </insert>


</mapper>