<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.SaleRecMapper">

    <insert id="insert" parameterType="com.zhonghe.adapter.model.SaleRec">
        INSERT IGNORE INTO at_sale_rec (
            ID, FID, FBillNo, FSalesNo, FOrgID, FOrgNumber, FOrgName,
            FDate, FSaleType, FSaleTypeName, FSrcEntryID, FSetType,
            FSetTypeName, FMemberID, FPayMoney, FRemark, FCreateBy,
            FCreateDate, FUpdateBy, FUpdateDate, sync_flag, sync_time
        ) VALUES (
        #{ID}, #{FID}, #{FBillNo}, #{FSalesNo}, #{FOrgID}, #{FOrgNumber}, #{FOrgName},
        #{FDate}, #{FSaleType}, #{FSaleTypeName}, #{FSrcEntryID}, #{FSetType},
        #{FSetTypeName}, #{FMemberID}, #{FPayMoney}, #{FRemark}, #{FCreateBy},
        #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate}, #{sync_flag}, #{sync_time}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO at_sale_rec (
        ID, FID, FBillNo, FSalesNo, FOrgID, FOrgNumber, FOrgName,
        FDate, FSaleType, FSaleTypeName, FSrcEntryID, FSetType,
        FSetTypeName, FMemberID, FPayMoney, FRemark, FCreateBy,
        FCreateDate, FUpdateBy, FUpdateDate, sync_flag, sync_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.ID}, #{item.FID}, #{item.FBillNo}, #{item.FSalesNo}, #{item.FOrgID}, #{item.FOrgNumber}, #{item.FOrgName},
            #{item.FDate}, #{item.FSaleType}, #{item.FSaleTypeName}, #{item.FSrcEntryID}, #{item.FSetType},
            #{item.FSetTypeName}, #{item.FMemberID}, #{item.FPayMoney}, #{item.FRemark}, #{item.FCreateBy},
            #{item.FCreateDate}, #{item.FUpdateBy}, #{item.FUpdateDate}, #{item.sync_flag}, #{item.sync_time}
            )
        </foreach>
    </insert>

</mapper>