<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.SaleRecMapper">

    <insert id="insert" parameterType="com.zhonghe.adapter.model.SaleRec">
        INSERT IGNORE INTO at_sale_rec (
            ID, FID, FBillNo, FSalesNo, FOrgID, FOrgNumber, FOrgName,
            FDate, FSaleType, FSaleTypeName, FSrcEntryID, FSetType,
            FSetTypeName, FMemberID, FPayMoney, FRemark, FCreateBy,
            FCreateDate, FUpdateBy, FUpdateDate, sync_flag, sync_time
        ) VALUES (
        #{ID}, #{FID}, #{FBillNo}, #{FSalesNo}, #{FOrgID}, #{FOrgNumber}, #{FOrgName},
        #{FDate}, #{FSaleType}, #{FSaleTypeName}, #{FSrcEntryID}, #{FSetType},
        #{FSetTypeName}, #{FMemberID}, #{FPayMoney}, #{FRemark}, #{FCreateBy},
        #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate}, #{sync_flag}, #{sync_time}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO at_sale_rec (
         FID, FBillNo, FSalesNo, FOrgID, FOrgNumber, FOrgName,
        FDate, FSaleType, FSaleTypeName, FSrcEntryID, FSetType,
        FSetTypeName, FMemberID, FPayMoney, FRemark, FCreateBy,
        FCreateDate, FUpdateBy, FUpdateDate, sync_flag, sync_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID,jdbcType=VARCHAR},
            #{item.FBillNo,jdbcType=VARCHAR},
            #{item.FSalesNo,jdbcType=VARCHAR},
            #{item.FOrgID,jdbcType=VARCHAR},
            #{item.FOrgNumber,jdbcType=VARCHAR},
            #{item.FOrgName,jdbcType=VARCHAR},
            #{item.FDate,jdbcType=TIMESTAMP},
            #{item.FSaleType,jdbcType=VARCHAR},
            #{item.FSaleTypeName,jdbcType=VARCHAR},
            #{item.FSrcEntryID,jdbcType=VARCHAR},
            #{item.FSetType,jdbcType=VARCHAR},
            #{item.FSetTypeName,jdbcType=VARCHAR},
            #{item.FMemberID,jdbcType=VARCHAR},
            #{item.FPayMoney,jdbcType=DECIMAL},
            #{item.FRemark,jdbcType=VARCHAR},
            #{item.FCreateBy,jdbcType=VARCHAR},
            #{item.FCreateDate,jdbcType=TIMESTAMP},
            #{item.FUpdateBy,jdbcType=VARCHAR},
            #{item.FUpdateDate,jdbcType=TIMESTAMP},
            #{item.sync_flag,jdbcType=VARCHAR},
            #{item.sync_time,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

</mapper>