<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhonghe.adapter.mapper.AT.SaleMapper">

    <insert id="insert" parameterType="com.zhonghe.adapter.model.Sale">
        INSERT IGNORE INTO at_sale (
            id, FID, FBillNo, FSalesType, FDate, FOrgType, FOrgID, FOrgNumber, FOrgName,
            FGuideID, FGuideNumber, FGuideName, FRemark,
            FCreateBy, FCreateDate, FUpdateBy,FPlatformArea, FUpdateDate,
            mark, sync_flag, sync_time
        ) VALUES (
        #{id}, #{FID}, #{FBillNo}, #{FSalesType}, #{FDate}, #{FOrgType}, #{FOrgID},
        #{FOrgNumber}, #{FOrgName}, #{FGuideID}, #{FGuideNumber}, #{FGuideName},
        #{FRemark}, #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FPlatformArea}, #{FUpdateDate},
        #{mark}, #{syncFlag}, #{syncTime}
        )
    </insert>

    <!-- 批量插入 Sale（忽略 FID 冲突） -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO at_sale (
        FID, FBillNo, FSalesType, FDate, FOrgType, FOrgID, FOrgNumber, FOrgName,
        FGuideID, FGuideNumber, FGuideName, FRemark,
        FCreateBy, FCreateDate, FUpdateBy,FPlatformArea, FUpdateDate,
         sync_flag, sync_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID}, #{item.FBillNo}, #{item.FSalesType}, #{item.FDate},
            #{item.FOrgType}, #{item.FOrgID}, #{item.FOrgNumber}, #{item.FOrgName},
            #{item.FGuideID}, #{item.FGuideNumber}, #{item.FGuideName}, #{item.FRemark},
            #{item.FCreateBy}, #{item.FCreateDate}, #{item.FUpdateBy},#{item.FPlatformArea}, #{item.FUpdateDate},
             #{item.syncFlag}, #{item.syncTime}
            )
        </foreach>
    </insert>
    <update id="updateFSetType">
        UPDATE at_sale s
            JOIN at_sale_rec r ON s.FBillNo = r.FBillNo
            SET s.FSetTypeName = r.FSetTypeName
        WHERE s.FDate BETWEEN #{start} AND #{end}
    </update>
    <select id="getCountByTime" resultType="java.lang.Integer">
        select count(1) where FCreateDate> = #{start} and FCreateDate &lt; #{end} limit 1
    </select>

</mapper>
