<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.SaleRecMapper">

    <insert id="insert" parameterType="com.zhonghe.adapter.model.SaleRec">
        INSERT
        IGNORE INTO at_sale_rec (
            ID, FID, FBillNo, FSalesNo, FOrgID, FOrgNumber, FOrgName,
            FDate, FSaleTime,FSaleType, FSaleTypeName, FSrcEntryID, FSetType,
            FSetTypeName, FPayMent,FPayMentName,FMemberID, FPayMoney, FRemark, FPlatformArea,FCreateBy,
            FCreateDate, FUpdateBy, FUpdateDate, sync_flag, sync_time
        ) VALUES (
        #{ID},
        #{FID},
        #{FBillNo},
        #{FSalesNo},
        #{FOrgID},
        #{FOrgNumber},
        #{FOrgName},
        #{FDate},
        #{FSaleTime},
        #{FSaleType},
        #{FSaleTypeName},
        #{FSrcEntryID},
        #{FSetType},
        #{FSetTypeName},
        #{FPayMent},
        #{FPayMentName},
        #{FMemberID},
        #{FPayMoney},
        #{FRemark},
        #{FPlatformArea},
        #{FCreateBy},
        #{FCreateDate},
        #{FUpdateBy},
        #{FUpdateDate},
        #{sync_flag},
        #{sync_time}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO at_sale_rec (
        FID, FBillNo, FSalesNo, FOrgID, FOrgNumber, FOrgName,
        FDate, FSaleTime,FSaleType, FSaleTypeName, FSrcEntryID, FSetType,
        FSetTypeName, FPayMent, FPayMentName, FMemberID, FPayMoney,
        FRemark, FPlatformArea, FCreateBy, FCreateDate, FUpdateBy,
        FUpdateDate, sync_flag, sync_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID,jdbcType=VARCHAR},
            #{item.FBillNo,jdbcType=VARCHAR},
            #{item.FSalesNo,jdbcType=VARCHAR},
            #{item.FOrgID,jdbcType=VARCHAR},
            #{item.FOrgNumber,jdbcType=VARCHAR},
            #{item.FOrgName,jdbcType=VARCHAR},
            #{item.FDate,jdbcType=TIMESTAMP},
            #{item.FSaleTime,jdbcType=TIMESTAMP},
            #{item.FSaleType,jdbcType=VARCHAR},
            #{item.FSaleTypeName,jdbcType=VARCHAR},
            #{item.FSrcEntryID,jdbcType=VARCHAR},
            #{item.FSetType,jdbcType=VARCHAR},
            #{item.FSetTypeName,jdbcType=VARCHAR},
            #{item.FPayMent,jdbcType=VARCHAR},
            #{item.FPayMentName,jdbcType=VARCHAR},
            #{item.FMemberID,jdbcType=VARCHAR},
            #{item.FPayMoney,jdbcType=DECIMAL},
            #{item.FRemark,jdbcType=VARCHAR},
            CASE
            WHEN #{item.FSetTypeName,jdbcType=VARCHAR} = '商城海博支付' THEN
            COALESCE(
            (SELECT
            CASE s.FPlatformArea
            WHEN '1' THEN '京东到家'
            WHEN '2' THEN '美团'
            WHEN '3' THEN '饿了么'
            WHEN '9' THEN '自有渠道'
            WHEN '10' THEN '有赞'
            ELSE s.FPlatformArea
            END
            FROM at_sale s
            WHERE s.FID = #{item.FSalesNo,jdbcType=VARCHAR}
            LIMIT 1),
            #{item.FPlatformArea,jdbcType=VARCHAR}
            )
            ELSE
            CASE #{item.FPlatformArea,jdbcType=VARCHAR}
            WHEN '1' THEN '京东到家'
            WHEN '2' THEN '美团'
            WHEN '3' THEN '饿了么'
            WHEN '9' THEN '自有渠道'
            WHEN '10' THEN '有赞'
            ELSE #{item.FPlatformArea,jdbcType=VARCHAR}
            END
            END,
            #{item.FCreateBy,jdbcType=VARCHAR},
            #{item.FCreateDate,jdbcType=TIMESTAMP},
            #{item.FUpdateBy,jdbcType=VARCHAR},
            #{item.FUpdateDate,jdbcType=TIMESTAMP},
            #{item.sync_flag,jdbcType=VARCHAR},
            #{item.sync_time,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="batchUpdatePlatformArea" parameterType="java.util.List">
        UPDATE at_sale_rec
        SET FPlatformArea =
        CASE
        WHEN FSetTypeName = '商城海博支付' THEN
        COALESCE(
        (SELECT
        CASE s.FPlatformArea
        WHEN '1' THEN '京东到家'
        WHEN '2' THEN '美团'
        WHEN '3' THEN '饿了么'
        WHEN '9' THEN '自有渠道'
        WHEN '10' THEN '有赞'
        ELSE s.FPlatformArea
        END
        FROM at_sale s
        WHERE s.FID = at_sale_rec.FSalesNo
        LIMIT 1),
        FPlatformArea
        )
        ELSE
        CASE FPlatformArea
        WHEN '1' THEN '京东到家'
        WHEN '2' THEN '美团'
        WHEN '3' THEN '饿了么'
        WHEN '9' THEN '自有渠道'
        WHEN '10' THEN '有赞'
        ELSE FPlatformArea
        END
        END
        WHERE FID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.FID,jdbcType=VARCHAR}
        </foreach>
    </update>

    <delete id="deleteSaleRecByTime">
        DELETE FROM at_sale_rec
        WHERE FSaleTime &gt;= #{start,jdbcType=TIMESTAMP}
        AND FSaleTime &lt;= #{end,jdbcType=TIMESTAMP}
    </delete>

</mapper>