<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.ServiceCardMapper">

    <insert id="insert" parameterType="com.zhonghe.adapter.model.ServiceCard">
        INSERT IGNORE INTO at_service_card (
        ID, FID, FBillNo, FBillType, FDate,
        FOrgID, FOrgNumber, FOrgName, FRemark,
        FPayID, FPayWay, FPayDate, FPayMoney,
        FCycleID, sync_flag, sync_time,
        FCreateBy, FCreateDate, FUpdateBy, FUpdateDate
    ) VALUES (
        #{ID}, #{FID}, #{FBillNo}, #{FBillType}, #{FDate},
        #{FOrgID}, #{FOrgNumber}, #{FOrgName}, #{FRemark},
        #{FPayID}, #{FPayWay}, #{FPayDate}, #{FPayMoney},
        #{FCycleID}, #{syncFlag}, #{syncTime},
        #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate}
        )
    </insert>



</mapper>