<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.StockTakeMapper">
    <insert id="insert" parameterType="com.zhonghe.adapter.model.StockTake">
        INSERT IGNORE INTO at_stock_take (
        FID, FBillType, FDate, FOrgID, FOrgNumber, FOrgName,
        FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate,
        sync_flag, sync_time
    ) VALUES (
        #{FID}, #{FBillType}, #{FDate}, #{FOrgID}, #{FOrgNumber}, #{FOrgName},
        #{FRemark}, #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate},
        #{syncFlag}, #{syncTime}
        )
    </insert>

</mapper>