<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.StockTakeEntryMapper">
    <!-- 明细表插入 -->
    <insert id="insertEntry" parameterType="com.zhonghe.adapter.model.StockTakeEntry">
        INSERT IGNORE INTO at_stock_take_entry (
            FID, FEntryID, FMaterialID, FMaterialNumber, FMaterialName, FMaterialTypeNumber,
            FMaterialTypeName, FUnit, FZFQty, FQty, FYkQty, FYkPrice, FYkAmount,
            FTzQty, FTzPrice, FTzAmount, FStockID, FStockNumber, FStockName, FBatch, FNote
        ) VALUES (
        #{FID}, #{FEntryID}, #{FMaterialID}, #{FMaterialNumber}, #{FMaterialName}, #{FMaterialTypeNumber},
        #{FMaterialTypeName}, #{FUnit}, #{FZFQty}, #{FQty}, #{FYkQty}, #{FYkPrice}, #{FYkAmount},
        #{FTzQty}, #{FTzPrice}, #{FTzAmount}, #{FStockID}, #{FStockNumber}, #{FStockName}, #{FBatch}, #{FNote}
        )
    </insert>

    <!-- 明细表批量插入 -->
    <insert id="batchInsertEntry" parameterType="java.util.List">
        INSERT IGNORE INTO at_stock_take_entry (
        FID, FEntryID, FMaterialID, FMaterialNumber, FMaterialName, FMaterialTypeNumber,
        FMaterialTypeName, FUnit, FZFQty, FQty, FYkQty, FYkPrice, FYkAmount,
        FTzQty, FTzPrice, FTzAmount, FStockID, FStockNumber, FStockName, FBatch, FNote
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID}, #{item.FEntryID}, #{item.FMaterialID}, #{item.FMaterialNumber}, #{item.FMaterialName}, #{item.FMaterialTypeNumber},
            #{item.FMaterialTypeName}, #{item.FUnit}, #{item.FZFQty}, #{item.FQty}, #{item.FYkQty}, #{item.FYkPrice}, #{item.FYkAmount},
            #{item.FTzQty}, #{item.FTzPrice}, #{item.FTzAmount}, #{item.FStockID}, #{item.FStockNumber}, #{item.FStockName}, #{item.FBatch}, #{item.FNote}
            )
        </foreach>
    </insert>
</mapper>