<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.StoreTranEntryMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO at_store_tran_line (
        FID, FEntryID, FDBType, FMaterialID, FMaterialNumber, FMaterialName,
        FMaterialTypeNumber, FMaterialTypeName, FUnit, FQty,
        FOutStockID, FOutStockNumber, FOutStockName,
        FInStockID, FInStockNumber, FInStockName,
        FBatch, FRate, FInPrice, FInAmount, FNote
        ) VALUES
        <foreach collection="list" item="entry" separator=",">
            (
            #{entry.FID}, #{entry.FEntryID}, #{entry.FDBType}, #{entry.FMaterialID}, #{entry.FMaterialNumber}, #{entry.FMaterialName},
            #{entry.FMaterialTypeNumber}, #{entry.FMaterialTypeName}, #{entry.FUnit}, #{entry.FQty},
            #{entry.FOutStockID}, #{entry.FOutStockNumber}, #{entry.FOutStockName},
            #{entry.FInStockID}, #{entry.FInStockNumber}, #{entry.FInStockName},
            #{entry.FBatch}, #{entry.FRate}, #{entry.FInPrice}, #{entry.FInAmount}, #{entry.FNote}
            )
        </foreach>
    </insert>


</mapper>

