<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.AT.StoreTranMapper">

    <insert id="insert" parameterType="com.zhonghe.adapter.model.StoreTran">
        INSERT IGNORE INTO at_store_tran (
        FID, FDate, FOutOrgID, FOutOrgNumber, FOutOrgName,
        FInOrgID, FInOrgNumber, FInOrgName,
        FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate,
        sync_flag, sync_time
    ) VALUES (
        #{FID}, #{FDate}, #{FOutOrgID}, #{FOutOrgNumber}, #{FOutOrgName},
        #{FInOrgID}, #{FInOrgNumber}, #{FInOrgName},
        #{FRemark}, #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate},
        #{syncFlag}, #{syncTime}
        )
    </insert>


</mapper>