<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.apporder.mapper.UserMapper">

    <select id="selectSalesmanByOpenId" resultType="com.zhonghe.apporder.model.User">
        select t1.id,t1.tenantId,t1.userName,t1.userCode,t1.mobileNo,t1.departmentName,t1.lastLoginTime
        from kerneluser t1
        where t1.openId = #{openId}
          and t1.userType = '1'
          and t1.enabled = true
          and t1.deleted = false
          and t1.tenantId = 1
    </select>

    <select id="selectSalesmanByMobileNo" resultType="com.zhonghe.apporder.model.User">
        select t1.id,t1.tenantId,t1.userName,t1.userCode,t1.mobileNo,t1.departmentName
        from kerneluser t1
        where t1.tenantId = 1
          and t1.mobileNo = #{mobileNo}
          and t1.userType = '1'
          and t1.enabled = true
          and t1.deleted = false
    </select>
    <select id="selectById" resultType="com.zhonghe.apporder.model.User">
        select * from kerneluser t1
        where t1.id = #{id}
    </select>

    <update id="updateOpenIdByMobileNo" >
        UPDATE kerneluser t1
        SET
            lastLoginTime = NOW(),
            openId = #{openId}
        WHERE mobileNo = #{mobileNo}
          AND tenantId = #{tenantId}
    </update>

</mapper>