<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhonghe.adapter.mapper.InsertionErrorLogMapper">
<!-- XML映射文件 -->


<insert id="batchInsertErrors" parameterType="java.util.List">
    INSERT INTO insertion_error_log
    (field_a, error_message, stack_trace, record_data, error_time)
    VALUES
    <foreach collection="list" item="log" separator=",">
        (
        #{log.fieldA},
        #{log.errorMessage},
        #{log.stackTrace},
        #{log.recordData},
        #{log.errorTime}
        )
    </foreach>
</insert>
</mapper>