<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.PurRetLineMapper">

    <!-- 明细表插入 -->
    <insert id="insertLine" parameterType="com.zhonghe.adapter.model.PurRetLine">
        INSERT IGNORE INTO at_pur_ret_entry (
            FID, FEntryID, FMaterialID, FMaterialNumber, FMaterialName, FMaterialTypeNumber,
            FMaterialTypeName, FUnit, FQty, FBatch, FStockID, FStockNumber, FStockName,
            FRate, FTaxPrice, FAllAmount, FNote
        ) VALUES (
        #{FID}, #{FEntryID}, #{FMaterialID}, #{FMaterialNumber}, #{FMaterialName}, #{FMaterialTypeNumber},
        #{FMaterialTypeName}, #{FUnit}, #{FQty}, #{FBatch}, #{FStockID}, #{FStockNumber}, #{FStockName},
        #{FRate}, #{FTaxPrice}, #{FAllAmount}, #{FNote}
        )
    </insert>

    <insert id="batchInsertLines" parameterType="java.util.List">
        INSERT IGNORE INTO at_pur_ret_entry (
        FID, FEntryID, FMaterialID, FMaterialNumber, FMaterialName, FMaterialTypeNumber,
        FMaterialTypeName, FUnit, FQty, FBatch, FStockID, FStockNumber, FStockName,
        FRate, FTaxPrice, FAllAmount, FNote
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID}, #{item.FEntryID}, #{item.FMaterialID}, #{item.FMaterialNumber}, #{item.FMaterialName}, #{item.FMaterialTypeNumber},
            #{item.FMaterialTypeName}, #{item.FUnit}, #{item.FQty}, #{item.FBatch}, #{item.FStockID}, #{item.FStockNumber}, #{item.FStockName},
            #{item.FRate}, #{item.FTaxPrice}, #{item.FAllAmount}, #{item.FNote}
            )
        </foreach>
    </insert>

</mapper>