<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.PurRetMapper">

    <resultMap id="purRetMap" type="com.zhonghe.adapter.model.PurRet">
        <id property="fid" column="FID"/>
        <result property="billType" column="FBillType"/>
        <result property="factoryType" column="FFactoryType"/>
        <result property="depId" column="FDepID"/>
        <result property="depNumber" column="FDepNumber"/>
        <result property="depName" column="FDepName"/>
        <result property="date" column="FDate"/>
        <result property="supplierId" column="FSupplierID"/>
        <result property="supplierNumber" column="FSupplierNumber"/>
        <result property="supplierName" column="FSupplierName"/>
        <result property="reason" column="FReason"/>
        <result property="remark" column="FRemark"/>
        <result property="createBy" column="FCreateBy"/>
        <result property="createDate" column="FCreateDate"/>
        <result property="updateBy" column="FUpdateBy"/>
        <result property="updateDate" column="FUpdateDate"/>
        <collection property="entries" ofType="com.zhonghe.adapter.model.PurRetLine"
                    column="FID" select="selectLinesByMainId"/>
    </resultMap>

    <insert id="insert">
        INSERT IGNORE INTO pur_ret (
            FID, FBillType, FFactoryType, FDepID, FDepNumber, FDepName,
            FDate, FSupplierID, FSupplierNumber, FSupplierName, FReason,
            FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate
        ) VALUES (
        #{fid}, #{billType}, #{factoryType}, #{depId}, #{depNumber}, #{depName},
        #{date}, #{supplierId}, #{supplierNumber}, #{supplierName}, #{reason},
        #{remark}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}
        )
    </insert>


    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO pur_ret (
        FID, FBillType, FFactoryType, FDepID, FDepNumber, FDepName,
        FDate, FSupplierID, FSupplierNumber, FSupplierName, FReason,
        FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.fid}, #{item.billType}, #{item.factoryType}, #{item.depId}, #{item.depNumber}, #{item.depName},
            #{item.date}, #{item.supplierId}, #{item.supplierNumber}, #{item.supplierName}, #{item.reason},
            #{item.remark}, #{item.createBy}, #{item.createDate}, #{item.updateBy}, #{item.updateDate}
            )
        </foreach>
    </insert>

</mapper>