<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.PurRetMapper">

    <!-- 主表插入 -->
    <insert id="insert" parameterType="com.zhonghe.adapter.model.PurRet">
        INSERT IGNORE INTO at_pur_ret (
            FID, FBillType, FFactoryType, FDepID, FDepNumber, FDepName,
            FDate, FSupplierID, FSupplierNumber, FSupplierName, FReason,
            FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate
        ) VALUES (
        #{FID}, #{FBillType}, #{FFactoryType}, #{FDepID}, #{FDepNumber}, #{FDepName},
        #{FDate}, #{FSupplierID}, #{FSupplierNumber}, #{FSupplierName}, #{FReason},
        #{FRemark}, #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate}
        )
    </insert>

    <!-- 主表批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO at_pur_ret (
        FID, FBillType, FFactoryType, FDepID, FDepNumber, FDepName,
        FDate, FSupplierID, FSupplierNumber, FSupplierName, FReason,
        FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID}, #{item.FBillType}, #{item.FFactoryType}, #{item.FDepID}, #{item.FDepNumber}, #{item.FDepName},
            #{item.FDate}, #{item.FSupplierID}, #{item.FSupplierNumber}, #{item.FSupplierName}, #{item.FReason},
            #{item.FRemark}, #{item.FCreateBy}, #{item.FCreateDate}, #{item.FUpdateBy}, #{item.FUpdateDate}
            )
        </foreach>
    </insert>

</mapper>