<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.ServiceCostMapper">

    <insert id="insertIgnore" parameterType="com.zhonghe.adapter.model.ServiceCost">
        INSERT IGNORE INTO at_service_cost (
            FID, FType, FDate, FCardID, FCardName,
            FServiceTypeID, FServiceTypeName, FBuyStoreID, FBuyStoreNumber, FBuyStoreName,
            FConsumeStoreID, FConsumeStoreNumber, FConsumeStoreName, FMoney, FCrossStore,
            FGoodsStock, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate, mark
        ) VALUES (
        #{FID}, #{FType}, #{FDate}, #{FCardID}, #{FCardName},
        #{FServiceTypeID}, #{FServiceTypeName}, #{FBuyStoreID}, #{FBuyStoreNumber}, #{FBuyStoreName},
        #{FConsumeStoreID}, #{FConsumeStoreNumber}, #{FConsumeStoreName}, #{FMoney}, #{FCrossStore},
        #{FGoodsStock}, #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate}, #{mark}
        )
    </insert>

    <insert id="batchInsertIgnore" parameterType="java.util.List">
        INSERT IGNORE INTO at_service_cost (
        FID, FType, FDate, FCardID, FCardName,
        FServiceTypeID, FServiceTypeName, FBuyStoreID, FBuyStoreNumber, FBuyStoreName,
        FConsumeStoreID, FConsumeStoreNumber, FConsumeStoreName, FMoney, FCrossStore,
        FGoodsStock, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate, mark
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID}, #{item.FType}, #{item.FDate}, #{item.FCardID}, #{item.FCardName},
            #{item.FServiceTypeID}, #{item.FServiceTypeName}, #{item.FBuyStoreID}, #{item.FBuyStoreNumber}, #{item.FBuyStoreName},
            #{item.FConsumeStoreID}, #{item.FConsumeStoreNumber}, #{item.FConsumeStoreName}, #{item.FMoney}, #{item.FCrossStore},
            #{item.FGoodsStock}, #{item.FCreateBy}, #{item.FCreateDate}, #{item.FUpdateBy}, #{item.FUpdateDate}, #{item.mark}
            )
        </foreach>
    </insert>

</mapper>