<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.ServiceCardEntryMapper">
    <!-- 明细表插入 -->
    <insert id="insertEntry" parameterType="com.zhonghe.adapter.model.ServiceCardEntry">
        INSERT INTO at_service_card_entry (
            FID, FEntryID, FCardTypeID, FCardTypeName, FPrice, FQty, FTotalPrice
        ) VALUES (
                     #{FID}, #{FEntryID}, #{FCardTypeID}, #{FCardTypeName}, #{FPrice}, #{FQty}, #{FTotalPrice}
                 )
    </insert>

    <!-- 明细表批量插入 -->
    <insert id="batchInsertEntry" parameterType="java.util.List">
        INSERT INTO at_service_card_entry (
        FID, FEntryID, FCardTypeID, FCardTypeName, FPrice, FQty, FTotalPrice
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID}, #{item.FEntryID}, #{item.FCardTypeID}, #{item.FCardTypeName},
            #{item.FPrice}, #{item.FQty}, #{item.FTotalPrice}
            )
        </foreach>
    </insert>
</mapper>