<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.adapter.mapper.StockTakeMapper">
    <!-- 主表插入 -->
    <insert id="insert" parameterType="com.zhonghe.adapter.model.StockTake">
        INSERT IGNORE INTO at_stock_take (
            FID, FBillType, FDate, FOrgID, FOrgNumber, FOrgName,
            FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate
        ) VALUES (
        #{FID}, #{FBillType}, #{FDate}, #{FOrgID}, #{FOrgNumber}, #{FOrgName},
        #{FRemark}, #{FCreateBy}, #{FCreateDate}, #{FUpdateBy}, #{FUpdateDate}
        )
    </insert>

    <!-- 主表批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT IGNORE INTO at_stock_take (
        FID, FBillType, FDate, FOrgID, FOrgNumber, FOrgName,
        FRemark, FCreateBy, FCreateDate, FUpdateBy, FUpdateDate
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FID}, #{item.FBillType}, #{item.FDate}, #{item.FOrgID}, #{item.FOrgNumber}, #{item.FOrgName},
            #{item.FRemark}, #{item.FCreateBy}, #{item.FCreateDate}, #{item.FUpdateBy}, #{item.FUpdateDate}
            )
        </foreach>
    </insert>
</mapper>