<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhonghe.adapter.mapper.U8.GLAccvouchMapper">

    <insert id="insert" parameterType="com.zhonghe.adapter.model.U8.GLAccvouch">
        INSERT INTO GL_Accvouch (
            iId, iperiod, csign, isignseq, inoId, inid, dbillDate, idoc, cbill, ccheck,
            cbook, ibook, ccashier, iflag, ctext1, ctext2, cdigest, ccode, cexchName,
            md, mc, md_F, mc_F, nfrat, nd_S, nc_S, csettle, cn_Id, dtDate, cdeptId,
            cpersonId, ccusId, csupId, citemId, citemClass, cname, ccodeEqual, iflagbank,
            iflagPerson, bdelete, coutaccset, ioutyear, coutsysname, coutsysver, doutbilldate,
            ioutperiod, coutsign, coutno_Id, doutdate, coutbillsign, coutid, bvouchedit,
            bvouchAddordele, bvouchmoneyhold, bvalueedit, bcodeedit, ccodecontrol, bPCSedit,
            bDeptedit, bItemedit, bCusSupInput, cDefine1, cDefine2, cDefine3, cDefine4,
            cDefine5, cDefine6, cDefine7, cDefine8, cDefine9, cDefine10, cDefine11, cDefine12,
            cDefine13, cDefine14, cDefine15, cDefine16, dReceive, cWLDZFlag, dWLDZTime,
            bFlagOut, iBGOverFlag, cBGAuditor, dBGAuditTime, cBGAuditOpinion, bWHBgFlag,
            ssxznum, cErrReason, bGAuditRemark, cBudgetBuffer, iBGControlResult, nCVouchID,
            dauditDate, rowGuid, cBankReconNo, iyear, iYPeriod, wllqDate, wllqPeriod,
            tvouchtime, cblueoutno_Id, ccodeexchEqual, cpzchcode, iprice
        ) VALUES (
                     #{iId}, #{iperiod}, #{csign}, #{isignseq}, #{inoId}, #{inid}, #{dbillDate}, #{idoc}, #{cbill}, #{ccheck},
                     #{cbook}, #{ibook}, #{ccashier}, #{iflag}, #{ctext1}, #{ctext2}, #{cdigest}, #{ccode}, #{cexchName},
                     #{md}, #{mc}, #{mdF}, #{mcF}, #{nfrat}, #{ndS}, #{ncS}, #{csettle}, #{cnId}, #{dtDate}, #{cdeptId},
                     #{cpersonId}, #{ccusId}, #{csupId}, #{citemId}, #{citemClass}, #{cname}, #{ccodeEqual}, #{iflagbank},
                     #{iflagPerson}, #{bdelete}, #{coutaccset}, #{ioutyear}, #{coutsysname}, #{coutsysver}, #{doutbilldate},
                     #{ioutperiod}, #{coutsign}, #{coutnoId}, #{doutdate}, #{coutbillsign}, #{coutid}, #{bvouchedit},
                     #{bvouchAddordele}, #{bvouchmoneyhold}, #{bvalueedit}, #{bcodeedit}, #{ccodecontrol}, #{bPCSedit},
                     #{bDeptedit}, #{bItemedit}, #{bCusSupInput}, #{cDefine1}, #{cDefine2}, #{cDefine3}, #{cDefine4},
                     #{cDefine5}, #{cDefine6}, #{cDefine7}, #{cDefine8}, #{cDefine9}, #{cDefine10}, #{cDefine11}, #{cDefine12},
                     #{cDefine13}, #{cDefine14}, #{cDefine15}, #{cDefine16}, #{dReceive}, #{cWLDZFlag}, #{dWLDZTime},
                     #{bFlagOut}, #{iBGOverFlag}, #{cBGAuditor}, #{dBGAuditTime}, #{cBGAuditOpinion}, #{bWHBgFlag},
                     #{ssxznum}, #{cErrReason}, #{bGAuditRemark}, #{cBudgetBuffer}, #{iBGControlResult}, #{nCVouchID},
                     #{dauditDate}, #{rowGuid}, #{cBankReconNo}, #{iyear}, #{iYPeriod}, #{wllqDate}, #{wllqPeriod},
                     #{tvouchtime}, #{cblueoutnoId}, #{ccodeexchEqual}, #{cpzchcode}, #{iprice}
                 )
    </insert>


    <select id="selectGLAccvouchById" parameterType="int" resultType="com.zhonghe.adapter.model.U8.GLAccvouch">
        SELECT * FROM GL_accvouch WHERE [i_id] = #{iId}
    </select>

    <insert id="insertFull" parameterType="com.zhonghe.adapter.model.U8.GLAccvouch" useGeneratedKeys="true" keyProperty="iId">
        INSERT INTO GL_accvouch (
            iperiod, csign, isignseq, ino_id, inid, dbill_date, idoc,
            cbill, ccheck, cbook, ibook, ccashier, iflag, ctext1, ctext2,
            cdigest, ccode, cexch_name, md, mc, md_f, mc_f, nfrat, nd_s, nc_s,iyperiod,iyear,cdept_id,csup_id
        )
        VALUES (
                   #{iperiod}, #{csign}, #{isignseq}, #{inoId}, #{inid}, GETDATE(), #{idoc},
                   #{cbill}, #{ccheck}, #{cbook}, #{ibook}, #{ccashier}, #{iflag}, #{ctext1}, #{ctext2},
                   #{cdigest}, #{ccode}, #{cexchName}, #{md}, #{mc}, #{mdF}, #{mcF}, #{nfrat}, #{ndS}, #{ncS}, #{iYPeriod}, #{iyear}, #{cdept_id}, #{csup_id}
               )
    </insert>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO GL_accvouch (
        iperiod, csign, isignseq, ino_id, inid, dbill_date, idoc,
        cbill, ccheck, cbook, ibook, ccashier, iflag, ctext1, ctext2,
        cdigest, ccode, cexch_name, md, mc, md_f, mc_f, nfrat, nd_s,nc_s,iyperiod,iyear,cdept_id,csup_id
        )
        VALUES
        <foreach collection="list" item="product" separator=",">
            (
            #{product.iperiod}, #{product.csign}, #{product.isignseq}, #{product.inoId}, #{product.inid}, '2015-01-31', #{product.idoc},
            #{product.cbill}, #{product.ccheck}, #{product.cbook}, #{product.ibook}, #{product.ccashier}, #{product.iflag}, #{product.ctext1}, #{product.ctext2},
            #{product.cdigest}, #{product.ccode}, #{product.cexchName}, #{product.md}, #{product.mc}, #{product.mdF}, #{product.mcF}, #{product.nfrat}, #{product.ndS},
            #{product.ncS},#{product.iYPeriod},#{product.iyear},#{product.cdeptId},#{product.csupId}
            )
        </foreach>
    </insert>

    <select id="selectInoIdMaxByMonth" resultType="java.lang.Integer">
        SELECT MAX(ino_id) AS max_inid
        FROM GL_accvouch
        WHERE
            iyperiod = CONVERT(CHAR(6), GETDATE(), 112)
          AND iyear = YEAR(GETDATE())
    </select>
</mapper>