<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghe.crm.mapper.OrderLineMapper">

    <select id="selectByOrderId" resultType="com.zhonghe.crm.model.SalesOrderLine">
        SELECT *
        FROM omssalesorderline
        WHERE orderId = #{orderId}
          AND tenantId = #{tenantId}
          AND deleted = 0
        ORDER BY createTime ASC
    </select>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO omssalesorderline (
        id, tenantId, orderId,
        imgUrl, itemCode, itemFullName, itemAbbrName,
        price, lineQty, lineAmount, memo,creator,createTime
        ) VALUES
        <foreach collection="list" item="goods" separator=",">
            (
            #{goods.id}, #{goods.tenantId}, #{goods.orderId},
            #{goods.imgUrl}, #{goods.itemCode}, #{goods.itemFullName}, #{goods.itemAbbrName},
            #{goods.price}, #{goods.lineQty}, #{goods.lineAmount}, #{goods.memo},#{goods.creator},#{goods.createTime}
            )
        </foreach>
    </insert>
    <update id="deleteByOrderId">
        UPDATE omssalesorderline
        SET deleted = 1,
            updater = #{updater},
            updateTime = NOW()
        WHERE orderId = #{orderId}
          AND tenantId = #{tenantId}
    </update>
</mapper>