<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhonghe.adapter.mapper.BIP.WorkFlowMapper">

    <select id="selectCheckManAndMessageNote" resultType="java.util.HashMap">
        select note.checkman, sm.pk_psndoc, sm.user_name, note.messagenote
        from pub_workflownote note
        left join sm_user sm on note.checkman = sm.cuserid
        where
        <if test="billtype != null and billtype != ''">
            note.pk_billtype = #{billtype} and
        </if>
        note.actiontype != 'BIZ'
        and note.actiontype != 'MAKEBILL'
        and note.approvestatus = 0
    </select>
</mapper>